<% if(data.taxon.id > 0) { %>
<div class="media-left thumb">
    <a class="js-link-mission" href="#mission/<%= data.mission_id %>/taxon/<%= data.taxon.id %>">
		<img class="media-object" src="./images/mission_taxon/taxon/thumb/0<%= data.taxon.id %>.jpg" />
    </a>
</div>
<div class="media-body text">
	<a class="js-link-mission" href="#mission/<%= data.mission_id %>/taxon/<%= data.taxon.id %>">
	    <div class="media-heading title">	    	
	    	<div class="text"><%= data.taxon.title %></div> 
	    </div>
	    <div class="meta">
	    	<span class="taxon"><%= data.taxon.family %></span>
	    </div>
		<div class="options">
			<div class="badge-circle no-border bg-blue accept">
		    	<span class="icon icomoon">check</span>
		    </div>
		    <div class="badge-circle no-border bg-orange-light complete">
		    	<span class="icon icomoon">palms</span>
		    </div>
	</a>
</div>
<% } %>