<div class="inner">
    <% var posterURL = './images/mission_taxon/mission/poster/'+data.mission.poster; %>
    <div class="poster" style="background-image:url('<%= posterURL %>');">
        <img src="<%= posterURL %>" />
    </div>

    <div class="status accept floating floating-right" style="z-index: 1;">
        <button type="button" class="btn btn-accept btn-fab btn-default btn-sm">
            <span class="icon icomoon">check</span>
        </button>
        <span class="text text-default">
            <%= i18n.t('pages.missionSheet.acceptBtnLabel') %></span>
        <span class="text text-is-accept">
            <%= i18n.t('pages.missionSheet.acceptedBtnLabel') %></span>
    </div>
    <div class="status complete floating floating-right">
        <div class="btn btn-fab btn-sm bg-orange-light">
            <span class="icon icomoon">palms</span>
        </div>
        <span class="text">
            <%= i18n.t('pages.missionSheet.completedBtnLabel') %></span>
    </div>
    <div class="meta">
        <span class="num badge-circle">
            <%= data.mission.num %></span>
        <span class="difficulty"><span class="icon icomoon">difficulty_
                <%= data.mission.difficultyName %></span> <span class="hidden-small-height">
                <%= i18n.t('mission.difficulty_'+ data.mission.difficulty) %></span></span>
        <span class="season text-primary">
            <span class="icon icomoon">time</span>
            <span class="period">
                <%= data.mission.displaySeasonShort %></span>
            <span class="delta">
                <%= i18n.t('mission.deltaLong', {count: data.mission.inSeason.end.delta+1}) %></span>
        </span>
    </div>
    <div class="container">
        <div class="items"></div>
    </div>
</div>